{
  "CN": "Kubernetes",
  "key": {
    "algo": "{{ key_algo }}",
    "size": {{ key_size }}
  },
  "names": [
    {
      "C": "{{ country_code }}",
      "L": "{{ country_location }}",
      "O": "Kubernetes",
      "OU": "{{ country_state_short }}",
      "ST": "{{ country_state }}"
    }
  ]
}
