{
  "CN": "kubernetes",
  "key": {
    "algo": "{{ key_algo }}",
    "size": {{ key_size }}
  },
  "names": [
    {
      "C": "{{ country_code }}",
      "L": "{{ country_location }}",
      "O": "Kubernetes",
      "OU": "Kubernetes The Hard Way",
      "ST": "{{ country_state }}"
    }
  ]
}
